@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer Open=true Elevation="0" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Hi Nathan</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <div class="mud-height-full">
        @Body
    </div>
</MudDrawerContainer>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
}
